{
    "tabWidth": 4,
    "useTabs": false,
    "singleQuote": true,
    "trailingComma": "all",
    "endOfLine": "crlf",
    "printWidth": 120,
    "htmlWhitespaceSensitivity": "ignore",
    "semi": false,
    "bracketSpacing": true,
    "arrowParens": "always"
}
